
/* 
    Created on : Mar 11, 2016, 8:42:16 PM
    Author     : Angelin L. Nadar
*/
h1.message{
    font-family: "Exo",sans-serif;
    color: #66ab16;
    padding: 2% 0 0 2%;
}
.padding{
    padding: 2%;
}

